.BasicLayout {
    margin: 0 auto;
    font-family: 'Lato Bold';
    width: 87.8%;
}

.BasicLayout h3 {
  font-size: 1.125rem;
}

.BasicLayout section p {
    margin: 0.25rem 0;
    color: #959595;
    font-size: 0.9375rem;
}

section h3 {
    margin: 0 auto 0.81rem auto;
    color: var(--accent-color-2);
}
  
section:nth-of-type(2n) .two-color h3 {
    color: var(--accent-color-1);
}

.characters {
  font-size: 1.375rem;
}

@media all and (max-width: 1250px) {
    .container {
        padding: 1.09rem 0;
    }
}

@media all and (min-width: 1250px) {

    article {
    width: auto; 
  }

    .container-f {
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        width: 79.48%;
        margin: 0 auto;
        justify-content: space-evenly;
        margin-top: 2.125rem;
        
    }

    .container-f img {
        width: 100%;
    }
   
    .BasicLayout h3 {
        font-size: 1.5625rem;
    }

    .BasicLayout section p {
        font-size: 1.25rem;
    }
}
